*{
    margin:0px;
    font-family: sans-serif;
}
header{
    background-image: url(media/macbook_mouse.jpg);
    opacity: 0.8;
    height: 80vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
head{
    display: flex;
}

.h-list{
    list-style: none;
    padding-inline-start: 0px;
}
.h-list li{
    display: inline-block;
    margin: 5px 15px;

}
.h-list li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.white li a{
    color: white;
    padding: 5px;
    border-radius: 7%;
}
.white li a:hover{
    background-color: black;
    opacity: 0.8;
    z-index: 10;
}

.center{
    text-align: center;
}
#Name h1{
    color: white;
    font-size: 3.5rem;
    margin-bottom: 20px;

}
#Name{
    margin-top: 20vh;
}
#about img{
    margin-top: -100px;
    margin-left:40vw;
    height: 25%;
    width: 20%;
    border-radius: 50%;
    border-width: 100px;
    border:solid;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    
}
#about p{
    width: 50%;
    height:auto;
    margin-left: 25%;
    margin-top: 20px;
    color: gray;
}
section{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    
}
#skills{
    background-color: rgba(0, 0, 0, 0.10);
    width: 100%;
    height:auto;
    
}
#skills h2{
    color: rgb(66, 58, 175);
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 45%;
    
}
.skill-dis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    margin-top: 10px;
    margin-left: -10%;
}
.skill-progress{
    margin-left: 10%;
    margin-top: 1%;
    flex-shrink: 1;
    margin-bottom: 3%;
    width: 7rem;
    height: 1.4rem;
    padding: 2px;
    background-color: lightgrey;
    border-radius: 20px;
}
.mb-blue{
    background-color: rgb(63, 63, 207);
    border-radius: 20px;
    
}
.skill-name{
    padding-top: 2px;
    padding-left: 5px;
    color: white;
    font-family: sans-serif;
}
.percent{
    width: 50%;
    height: inherit;
}
.percent1{
    width: 60%;
    height: inherit;
}
.mb-orange{
    background-color: rgb(204, 109, 45);
    border-radius: 20px;
    
}
.percent2{
    width: 40%;
    height: inherit;
}
.mb-red{
    background-color: rgb(228, 22, 22);
    border-radius: 20px;
}
.percent3{
    width: 30%;
    height: inherit;
}
.mb-black{
    background-color: black;
    border-radius: 20px;
}
.percent4{
    width: 20%;
    height: inherit;
}
.mb-purple{
    background-color: rgb(155, 21, 196);
    border-radius: 20px;
}
#education h2{
    color: rgb(66, 58, 175);
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 45%;
}
.timeline{
    left: 12%;
    position:relative;
    width:75%;
    
}
.timeline-box {
    width : 40%;
    margin: 5px;
    height:150px;
    margin-top: 1%;
    text-align: right;
    margin-left: 5%;
    overflow: hidden;
    
    
}
/* .timeline-box::after{
    content :'';
    position:absolute;
    right: 0%;
    left: 49.1%;
    border-radius: 50%;
    width:0.5rem;
    height: 0.5rem;
    background-color: rgb(83, 79, 136);;
} */


.timeline-box:nth-child(2n){
    margin-left: 53%;
}
.timeline-box #institue{
    font-family: sans-serif;
    color: rgb(66, 58, 175);
    
    
    
}
#institue::before{
    content: '';
    display: inline-block;
    background-image: url('media/sLogo.jpg');
    height: 30px;
    width:30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.timeline-box span{
    color: rgb(224, 105, 61);
    font-family: sans-serif;
    font-weight: bold;
}
.timeline-box p{
    color:gray;
    opacity: 0.8;
}
.timeline-box:nth-child(2n){
    text-align: left;
}
#institue1{
    font-family: sans-serif;
    color: rgb(66, 58, 175);
    
}
#institue1::after{
    content: '';
    display: inline-block;
    background-image: url('media/download.jfif');
    height: 30px;
    width:30px;
    background-size: contain;
    background-repeat: no-repeat;
}
#institue2{
    font-family: sans-serif;
    color: rgb(66, 58, 175);
}
#institue2::before{
    content: '';
    display: inline-block;
    background-image: url(media/Clogo.jfif);
    height: 30px;
    width:30px;
    background-size: contain;
    background-repeat: no-repeat;
}
#timeline-divider{
    margin-top: 5%;
    position: absolute;
    left:49%;
    height:65%;
    width: 0px;
    border: 1.5px dashed rgb(83, 79, 136);
}
#timeline-travel{
    color: rgb(83, 79, 136);
    margin-left: -1px;
    top:15%;
    position: sticky;
}
#plane{
    transform: rotate(90deg);
}
#contact{
    width: 100%;
    background-image: linear-gradient( to top right,blue,purple);
    color: white;
    padding-bottom: 20%;
    
}
#contact h2{
    color: white;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 45%;
    padding-bottom: 30px ;
    
}
#input{
    margin-left: 5%;
    flex-shrink: 1;

}
#flexer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
input{
    display: block;
    width: 70%;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px white solid;
    color: white;
    opacity: 1;
    margin-left: 5%;
    margin-bottom: 20%;
    font-weight: bold;
}
textarea:focus, input:focus{
    outline: none;
}
button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10%;
}

#touch{
    width :30%;
    text-align: left;
    flex-shrink: 1;
    
}#touch span{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}
#touch p{
    margin-top: 7%;
    margin-bottom: 13%;
    text-overflow: word-break;
}
#touch ul{
    margin-top: 7%;
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
}
#touch li{
    padding: 4px;
    text-overflow: word-break;

}
#socials{
    margin-top: 7%;
}


